In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt 
import seaborn as sns

from IntuitiveAssociations import IADatabase, IAReporter

# Первоначальная заливка. Не использовать больше

In [27]:
db = IADatabase()
db.Serialize('dump.pickle')

In [43]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/16956_AI_transformed.xlsx', 16956, 'adhoq')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17224_AI_transformed.xlsx', 17224, 'ad.look')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17234_AI_transformed.xlsx', 17234, 'ad.look')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17240_AI_transformed.xlsx', 17240, 'adhoq')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17258_AI_transformed.xlsx', 17258, 'ad.look')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17262_AI_transformed.xlsx', 17262, 'ad.look')

Этого проекта нет в базе. Добавлено
Отчет готов
Этого проекта нет в базе. Добавлено
Отчет готов
Этого проекта нет в базе. Добавлено
Отчет готов
ОШИБКА ЧТЕНИЯ: Неправильные категории в столбце IA_ANSWER
Прервано
Этого проекта нет в базе. Добавлено
Отчет готов

# Добавление реклам

In [49]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17277_AI_transformed.xlsx', 17277, 'ad.look')

Job  17277
Этот проект уже в базе
Отчет готов

In [4]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17261_AI_transformed.xlsx', 17261, 'ad.look')

Job  17261
Этого проекта нет в базе. Добавлено
Отчет готов

In [3]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17291_AI_transformed.xlsx', 17291, 'adhoq')

Job  17291
Этого проекта нет в базе. Добавлено
Отчет готов

In [3]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17269_AI_transformed.xlsx', 17269, 'ad.look')

Job  17269
Этого проекта нет в базе. Добавлено
Отчет готов

In [2]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17301_AI_transformed.xlsx', 17301, 'ad.look')

Job  17301
Этого проекта нет в базе. Добавлено
Отчет готов

In [4]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17278_AI_transformed.xlsx', 17278, 'ad.look')

Job  17278
Этого проекта нет в базе. Добавлено
Отчет готов

In [2]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17285_AI_transformed.xlsx', 17285, 'ad.look')

Job  17285
Этого проекта нет в базе. Добавлено
Отчет готов

In [ ]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17322_AI_transformed.xlsx', 17322, 'ad.look')

In [ ]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17346_AI_transformed.xlsx', 17346, 'ad.look')

In [ ]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17357_AI_transformed.xlsx', 17357, 'ad.look')

In [ ]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17337_AI_transformed.xlsx', 17337, 'ad.look')

In [2]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17363_AI_transformed.xlsx', 17363, 'ad.look')

Job  17363
Этого проекта нет в базе. Добавлено
Отчет готов

In [3]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17362_AI_transformed.xlsx', 17362, 'ad.look')

Job  17362
Этого проекта нет в базе. Добавлено
Отчет готов

In [ ]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17342_AI_transformed.xlsx', 17342, 'adhoq')

Job  17342
Этот проект уже в базе

In [3]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17352_AI_transformed.xlsx', 17352, 'adhoq')

Job  17352
Этот проект уже в базе
Отчет готов

In [3]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17400_AI_transformed.xlsx', 17400, 'ad.look')

Job  17400
Этого проекта нет в базе. Добавлено
Отчет готов

In [2]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/16962_AI_transformed.xlsx', 16962, 'adhoq')

Job  16962
Этот проект уже в базе
Отчет готов

In [8]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17402_AI_transformed.xlsx', 17402, 'ad.look')

Job  17402
Этого проекта нет в базе. Добавлено
Отчет готов

In [2]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17347_AI_transformed.xlsx', 17347, 'adhoq')

Job  17347
Этого проекта нет в базе. Добавлено
Отчет готов

In [2]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17554_AI_transformed.xlsx', 17554, 'ad.look')

Job  17554
Этого проекта нет в базе. Добавлено
Отчет готов

In [2]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17338_AI_transformed.xlsx', 17338, 'ad.look')

Job  17338
Этого проекта нет в базе. Добавлено
Отчет готов

In [2]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17509_AI_transformed.xlsx', 17509, 'ad.look')

Job  17509
Этого проекта нет в базе. Добавлено
Отчет готов

In [3]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17553_AI_transformed.xlsx', 17553, 'ad.look')

Job  17553
Этого проекта нет в базе. Добавлено
Отчет готов

In [3]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17470_AI_transformed.xlsx', 17470, 'ad.look')

Job  17470
Этого проекта нет в базе. Добавлено
Отчет готов

# Check database

In [48]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17262_AI_transformed.xlsx', 17262, 'ad.look')

Job  17262
Этот проект уже в базе
Отчет готов

In [6]:
db.Deserialize('dump.pickle')

db.DropJobs([17402])
db.Serialize('dump.pickle')

In [7]:
db = IADatabase()
db.Deserialize('dump.pickle')
print(db.JobList())
print(db.columns, len(db.columns))
print(db.loc[:, 'IA_WORDS'].cat.categories)

[16956 17224 17234 17240 17262 17258 17277 17261 17291 17269 17301 17278
 17285 17322 17346 17357 17337 17363 17362 17342 17352 17400 16962 17347]
Index(['JOB_ID', 'JOB_TYPE', 'QST_NO', 'IA_CELL', 'IA_ORD', 'IA_WORDS',
       'IA_MS', 'IA_ANSWER', 'IA_ATTEMP', 'IA_AD_BRAND', 'IA_WTYPE'],
      dtype='object') 11
Index(['ЗАРЯЖАЮЩИЙ', 'СОВРЕМЕННЫЙ', 'УВЕРЕННАЯ', 'РАДУЮЩИЙ', 'ИТАЛЬЯНСКАЯ',
       'ДИНАМИЧНАЯ', 'ИНТЕРЕСНЫЙ', 'КАЧЕСТВЕННАЯ', 'ЮМОРНАЯ', 'НЕМЕЦКАЯ',
       ...
       'ПОДЛИННЫЕ', 'ЗАБОТЛИВАЯ', 'СТИЛЬНАЯ', 'МОДНАЯ', 'ЯРКАЯ', 'УЛЕТНАЯ',
       'СТАРОМОДНАЯ', 'КОМФОРТНАЯ', 'ПРИВЛЕКАТЕЛЬНАЯ', 'БЛИЗКАЯ'],
      dtype='object', length=147)

# Sandbox

In [3]:
reporter = IAReporter()
reporter.version

#data = reporter.ReadDataFile('sources/17224_AI_transformed.xlsx', 17224, 'ad.look')
data = reporter.ReadDataFile('sources/17277_AI_transformed.xlsx', 77779, 'ad.look')

In [4]:
data

,QST_NO,SEX,QC20,Quota.1,Quota.2,Quota.5,IA_CELL,IA_ORD,IA_WORDS,IA_MS,IA_ANSWER,IA_ATTEMP,IA_AD_BRAND,IA_WTYPE,JOB_ID,JOB_TYPE
0,18,2,1,1,0,1,1,1,УБЕДИТЕЛЬНАЯ,1056,Yes,1,ad,warm_up,77779,ad.look
1,18,2,1,1,0,1,1,5,НЕИНТЕРЕСНАЯ,852,No,1,ad,warm_up,77779,ad.look
2,18,2,1,1,0,1,1,2,ВЕЛИКОЛЕПНАЯ,679,Yes,1,ad,warm_up,77779,ad.look
3,18,2,1,1,0,1,1,3,СЕРАЯ,901,No,1,ad,warm_up,77779,ad.look
4,18,2,1,1,0,1,1,4,ДИНАМИЧНАЯ,795,Yes,1,ad,warm_up,77779,ad.look
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,1033,2,2,1,0,1,1,9,НАТУРАЛЬНАЯ,558,Yes,1,brand,active,77779,ad.look
3896,1033,2,2,1,0,1,1,13,ПОНИМАЮЩАЯ,662,Yes,1,brand,active,77779,ad.look
3897,1033,2,2,1,0,1,1,10,ПОЛЕЗНАЯ,633,Yes,1,brand,active,77779,ad.look
3898,1033,2,2,1,0,1,1,7,ПРОВЕРЕННАЯ,1325,Yes,1,brand,active,77779,ad.look
3899,1033,2,2,1,0,1,1,8,ДРУЖЕЛЮБНАЯ,684,Yes,1,brand,active,77779,ad.look

In [16]:
db = IADatabase()
db.Deserialize('dump.pickle')

db.RespondentSpeed(['ad.look'], ['ad'])

1089.7154837496705

In [17]:
db.GetNorms()

C:\!Work\2023 IA\IntuitiveAssociations\IntuitiveAssociations.py:106: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return self.loc[self.GetShitFilter(), selection].groupby(grouper).agg(['mean', 'std'])

                                      IA_MS
                                       mean         std
JOB_TYPE IA_AD_BRAND IA_ANSWER
ad.look  ad          Yes        1070.699329  415.667838
                     No         1087.575565  404.250056
         brand       Yes         886.492229  375.557597
                     No         1063.384241  417.603458
adhoq    ad          Yes                NaN         NaN
                     No                 NaN         NaN
         brand       Yes         962.775941  418.807607
                     No         1051.136300  504.913939

### ищем косяки

In [18]:
from openpyxl.utils.dataframe import dataframe_to_rows

In [26]:
tab = pd.concat(
    [
        pd.pivot_table(ad[ad['no_shit']], 
               index=['IA_CELL', 'IA_AD_BRAND', 'IA_WORDS'], 
               values='IA_ANSWER', 
               aggfunc=lambda x: x.value_counts()['Yes'] / len(x)),

        pd.pivot_table(ad[ad['no_shit'] & (ad['IA_ANSWER'] == 'Yes')], 
               index=['IA_CELL', 'IA_AD_BRAND', 'IA_WORDS'], 
               values='is_fast', 
               aggfunc=lambda x: x.value_counts()['fast'] / len(x))
    ], 
    axis=1
).reset_index()

tab

     IA_CELL IA_AD_BRAND         IA_WORDS  IA_ANSWER   is_fast
0          1       brand        АРОМАТНЫЕ   0.918367  0.244444
1          1       brand          ВКУСНЫЕ   0.765306  0.266667
2          1       brand        ИЗВЕСТНЫЕ   0.704082  0.130435
3          1       brand    ИННОВАЦИОННЫЕ   0.562500  0.055556
4          1       brand      ИНОСТРАННЫЕ   0.635417  0.147541
..       ...         ...              ...        ...       ...
164       13       brand       ПОПУЛЯРНЫЕ   0.785714  0.142857
165       13       brand      ПРЕМИАЛЬНЫЕ   0.855670  0.060241
166       13       brand  ПРИВЛЕКАТЕЛЬНЫЕ   0.958763  0.139785
167       13       brand      СОВРЕМЕННЫЕ   0.959596  0.168421
168       13       brand         СТИЛЬНЫЕ   0.910000  0.142857

[169 rows x 5 columns]

In [25]:
for r in dataframe_to_rows(tab):
    print(r)

[None, 'IA_CELL', 'IA_AD_BRAND', 'IA_WORDS', 'IA_ANSWER', 'is_fast']
[None]
[0, 1, 'b', 'А', 0.9183673469387755, 0.24444444444444444]
[1, 1, 'r', 'Р', 0.7653061224489796, 0.26666666666666666]
[2, 1, 'a', 'О', 0.7040816326530612, 0.13043478260869565]
[3, 1, 'n', 'М', 0.5625, 0.05555555555555555]
[4, 1, 'd', 'А', 0.6354166666666666, 0.14754098360655737]

IndexError: string index out of range