In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt 
import seaborn as sns

from IntuitiveAssociations import IADatabase, IAReporter

# Первоначальная заливка. Не использовать больше

In [27]:
db = IADatabase()
db.Serialize('dump.pickle')

In [43]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/16956_AI_transformed.xlsx', 16956, 'adhoq')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17224_AI_transformed.xlsx', 17224, 'ad.look')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17234_AI_transformed.xlsx', 17234, 'ad.look')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17240_AI_transformed.xlsx', 17240, 'adhoq')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17258_AI_transformed.xlsx', 17258, 'ad.look')

reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17262_AI_transformed.xlsx', 17262, 'ad.look')

Этого проекта нет в базе. Добавлено
Отчет готов
Этого проекта нет в базе. Добавлено
Отчет готов
Этого проекта нет в базе. Добавлено
Отчет готов
ОШИБКА ЧТЕНИЯ: Неправильные категории в столбце IA_ANSWER
Прервано
Этого проекта нет в базе. Добавлено
Отчет готов

# Добавление реклам

In [49]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17277_AI_transformed.xlsx', 17277, 'ad.look')

Job  17277
Этот проект уже в базе
Отчет готов

# Check database

In [48]:
reporter = IAReporter() 
ad = reporter.BuildJobReport('sources/17262_AI_transformed.xlsx', 17262, 'ad.look')

Job  17262
Этот проект уже в базе
Отчет готов

In [50]:
db = IADatabase()
db.Deserialize('dump.pickle')
print(db.JobList())
print(db.columns, len(db.columns))
print(db.loc[:, 'IA_WORDS'].cat.categories)

[16956 17224 17234 17240 17262 17258 17277]
Index(['JOB_ID', 'JOB_TYPE', 'QST_NO', 'IA_CELL', 'IA_ORD', 'IA_WORDS',
       'IA_MS', 'IA_ANSWER', 'IA_ATTEMP', 'IA_AD_BRAND', 'IA_WTYPE'],
      dtype='object') 11
Index(['ПОМОГАЮЩАЯ', 'СТИЛЬНАЯ', 'БОДРЯЩИЙ', 'ВЕЛИКОЛЕПНАЯ', 'ЭКСПЕРТНАЯ',
       'КАЧЕСТВЕННАЯ', 'РАССЛАБЛЯЮЩИЙ', 'ОТСТАЛАЯ', 'ПОПУЛЯРНАЯ', 'БОДРЯЩАЯ',
       'ТЕХНОЛОГИЧНАЯ', 'СТАРОМОДНАЯ', 'СЕРАЯ', 'ДРУЖЕЛЮБНАЯ', 'ЖЕНСТВЕННАЯ',
       'КАЧЕСТВЕННЫЙ', 'ПРОВЕРЕННАЯ', 'РАДУЮЩИЙ', 'УДИВЛЯЮЩАЯ', 'БРЕДОВАЯ',
       'ЗАБОТЛИВАЯ', 'ТЕПЛАЯ', 'ОРИГИНАЛЬНЫЙ', 'ПРОГРЕССИВНАЯ', 'НЕПОНЯТНЫЙ',
       'КРУТАЯ', 'ИННОВАЦИОННАЯ', 'НАДЕЖНАЯ', 'БЛИЗКАЯ', 'АППЕТИТНАЯ',
       'ДИНАМИЧНАЯ', 'УНИКАЛЬНАЯ', 'ВДОХНОВЛЯЮЩАЯ', 'ПОНИМАЮЩАЯ', 'ИЗЫСКАННАЯ',
       'КРАСИВАЯ', 'ПОСРЕДСТВЕННЫЙ', 'КОМФОРТНАЯ', 'НАСЛАЖДЕНИЕ', 'ИНТЕРЕСНАЯ',
       'УБЕДИТЕЛЬНАЯ', 'ЗАУРЯДНАЯ', 'УДОБНАЯ', 'ЭНЕРГИЧНАЯ', 'ОБЪЕДИНЯЮЩАЯ',
       'СЕМЕЙНАЯ', 'УЛЕТНАЯ', 'ДОСТУПНАЯ', 'БЕЗОПАСНАЯ', 'МОЛОДЕЖНЫЙ',
       'СОВРЕМЕННАЯ', 'ДЕРЗКАЯ', 'ЭКОЛОГИЧНАЯ', 'ЮМОРНАЯ', 'ИТАЛЬЯНСКАЯ',
       'МНОГОФУНКЦИОНАЛЬНАЯ', 'ПРЕМИАЛЬНАЯ', 'ИНТЕРЕСНЫЙ', 'ПОЗИТИВНАЯ',
       'ВКУСНАЯ', 'НАТУРАЛЬНАЯ', 'НЕИЗВЕСТНАЯ', 'ЧЕСТНАЯ', 'НЕЕСТЕСТВЕННАЯ',
       'ПРОРЫВНАЯ', 'ПОЛЕЗНАЯ', 'НЕПОВТОРИМАЯ', 'МАСТЕРСТВО', 'ЕЖЕДНЕВНАЯ',
       'ВКУСНЫЙ', 'СТАРОМОДНЫЙ', 'СОВРЕМЕННЫЙ', 'ЛУЧШАЯ', 'АУТЕНТИЧНАЯ',
       'УВЕРЕННАЯ', 'КЛАССНЫЙ', 'СОМНИТЕЛЬНЫЙ', 'ПРИЯТНАЯ', 'ЯРКАЯ',
       'УНИВЕРСАЛЬНАЯ', 'НЕИНТЕРЕСНАЯ', 'ЗАРЯЖАЮЩИЙ', 'НОВАТОРСКИЙ', 'ДЕШЕВЫЙ',
       'ПРЕМИАЛЬНЫЙ', 'СЫТНАЯ', 'ПОПУЛЯРНЫЙ'],
      dtype='object')

# Sandbox

In [25]:
reporter = IAReporter()
reporter.version

data = reporter.ReadDataFile('sources/17224_AI_transformed.xlsx', 17224, 'ad.look')
data = reporter.ReadDataFile('sources/17277_AI_transformed.xlsx', 77779, 'ad.look')

In [26]:
data

,QST_NO,SEX,QC20,Quota.1,Quota.2,Quota.5,IA_CELL,IA_ORD,IA_WORDS,IA_MS,IA_ANSWER,IA_ATTEMP,IA_AD_BRAND,IA_WTYPE,JOB_ID,JOB_TYPE
0,18,2,1,1,0,1,1,1,УБЕДИТЕЛЬНАЯ,1056,Yes,1,ad,warm_up,77779,ad.look
1,18,2,1,1,0,1,1,5,НЕИНТЕРЕСНАЯ,852,No,1,ad,warm_up,77779,ad.look
2,18,2,1,1,0,1,1,2,ВЕЛИКОЛЕПНАЯ,679,Yes,1,ad,warm_up,77779,ad.look
3,18,2,1,1,0,1,1,3,СЕРАЯ,901,No,1,ad,warm_up,77779,ad.look
4,18,2,1,1,0,1,1,4,ДИНАМИЧНАЯ,795,Yes,1,ad,warm_up,77779,ad.look
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,1033,2,2,1,0,1,1,9,НАТУРАЛЬНАЯ,558,Yes,1,brand,active,77779,ad.look
3896,1033,2,2,1,0,1,1,13,ПОНИМАЮЩАЯ,662,Yes,1,brand,active,77779,ad.look
3897,1033,2,2,1,0,1,1,10,ПОЛЕЗНАЯ,633,Yes,1,brand,active,77779,ad.look
3898,1033,2,2,1,0,1,1,7,ПРОВЕРЕННАЯ,1325,Yes,1,brand,active,77779,ad.look
3899,1033,2,2,1,0,1,1,8,ДРУЖЕЛЮБНАЯ,684,Yes,1,brand,active,77779,ad.look